.popup {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.popup__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    animation: openPopup 0.6s;
    animation-fill-mode: forwards;
    max-height: 150px;
    max-width: 300px;
    height: 30%;
}

.popup__container-animBack {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    animation: closePopup 0.6s;
    animation-fill-mode: forwards;
    max-width: 300px;
    max-height: 150px;
    height: 30%;
}

@keyframes openPopup {
    0% {
        opacity: 0;
        transform: translateY(-300px) perspective(600px) rotateX(60deg);
        -webkit-transform: translateY(-20px) perspective(600px) rotateX(30deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) perspective(600px) rotateX(0);
        -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    }
}
@keyframes closePopup {
    0% {
        opacity: 1;
        transform: translateY(0) perspective(600px) rotateX(0);
        -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-300px) perspective(600px) rotateX(60deg);
        -webkit-transform: translateY(-20px) perspective(600px) rotateX(30deg);
    }
}