html, body {
    height: 100vh;
    background: #cae0e7;
}
#root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 70%;
}
